.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 114px;
  height: 72px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__phone__number {
   font-family: MuseoSansCyrl, sans-serif;
   font-size: 24px;
}
.header__phone__disclaimer {
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 14pt;
  text-decoration: underline;
  color: #5892a6;
}



