.section_banner {
    background: #ebf2f7;
}

.banner__inner {
    background-image: url(images/background22.png);
    background-repeat: no-repeat;
    padding: 10px 0 25px 0;
}

.banner__inner__logo {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 45px;
}

.section__six {
    height: 600px;
    background-image: -moz-linear-gradient(-90deg,#f9fbfd 0,#ecf3f8 100%);
    background-image: -webkit-linear-gradient(-90deg,#f9fbfd 0,#ecf3f8 100%);
    background-image: -ms-linear-gradient(-90deg,#f9fbfd 0,#ecf3f8 100%);
}

.section__six_heading {
    text-align: center;
    margin: 80px;
}

.section__six__box {
    display: flex;
    flex-direction: row-reverse;
    margin: 95px;
}

.section__six_text, .section__six__img {
    width: 50%;
}

.section__eight__one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 545px;
    padding: 135px;
}

.section__eight__text {
    background-color: #fff;
    color: #68b0c9;
    font-family: MuseoSansCyrl,sans-serif;
    margin-bottom: 30px;
    font-size: 20pt;
}

.section__eight__paragraph {
    font-family: MuseoSansCyrl,sans-serif;
    font-size: 14pt;
    margin-bottom: 125px;
}

button:hover {
    background: #5ea5bd;
}

.section__ten__form {
    display: flex;
    justify-content: flex-end;
    /*flex-wrap: wrap;*/
}

.ten__form {
    margin: 10%;
}