* {
    margin: 0;
    padding: 0;
    font-family: MuseoSansCyrl, sans-serif;
}

html, body {
    height: 100%;
}

.one_banner {
    background: #ebf2f7;
}

.qwe__inner {
    background-image: url(images/logo22.png);
    background-repeat: no-repeat;
    padding: 0 0 40px 0;
    margin-left: -310px;
}

.section__logo {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section_box {
    text-align: right;
}

.section_one {
    padding-bottom: 100px;
}

.text {
    padding: 80px 0 30px 0;
    color: #535353;
    font-size: 41px;
    font-family: MuseoSansCyrl-700,sans-serif;
}

.text__disclaimer {
    font-family: MuseoSansCyrl-500,sans-serif;
    font-size: 27px;
    color: #5892a6;
    padding-bottom: 25px;
}

.section_box {
    text-align: end;
}

.wrapper_input {
    background-color: #fff;
    border-radius: 20px;
    margin-left: 1100px;
}

.banner_input {
    border-radius: 20px;
    margin-left: 900px;
    padding: 50px 0 50px 0;
    border: solid #fff;
}

.banner__order {
    background: #68b0c9;
    color: #fff;
    padding: 10px 50px 10px 50px;
    margin-left: 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 25px;
}

.newsletter {
    padding: 20px 0;
    text-align: center;
}

.banner__input__newsletter {
    display: flex;
    align-items: center;
    text-align: end;
    padding: 5px 25px 5px 15px;
    margin-right: 15px;
}

.input__stock {
    color: red;
    margin-right: 15px;
}

.input__4 {
    background-image: url(images/calendar.png);
    padding: 4px 15px;
    font-size: 30px;
}

.input_submit {
    padding: 20px 20px 15px 0;
}

.input__month {
    color: red;
    margin-left: 15px;
}

.inner__logo__text {
    font-size: 35px;
    font-family: Myriad Pro,sans-serif;
    padding-top: 70px;
}

h2 {
    font-size: 28px;
    font-family: MuseoSansCyrl-700,sans-serif;
    padding: 20px 0 10px 0;
    color: #82adbc;
}

p {
    font-size: 15px;
    font-family: MuseoSansCyrl,sans-serif;
    padding-bottom: 20px;
}

.form__number {
    border-radius: 50px;
    text-align: center;
    padding: 20px 20px 15px 20px;
}

.form__call_me {
    margin: 10px;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #68b0c9;
    padding: 25px 40px 20px;
}

.section_text {
    text-align: center;
    padding-top: 80px;
}

.title_text_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 160px;
}

.text_hyper {
    text-align: right;
    font-size: 55px;
}

.text_hyper_too {
    text-align: right;
}

.inner__eleven {
    padding-bottom: 80px;
}

.eight__one_heading {
    display: flex;
    justify-content: space-evenly;
    padding-top: 85px;
    padding-bottom: 35px;
}

.section__eleven__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.heading_box {
    width: 80px;
    text-align: end;
    font-family: cursive;
    font-size: 22px;
}

.heading_box_too {
    width: 80px;
    font-family: cursive;
    font-size: 22px;
    color: #68b0c9;
}

.section__eleven__text {
    text-align: end;
    float: none;
    font-size: 22px;
    width: 260px;
}

.section__eleven__text__too {
    font-size: 22px;
    width: 260px;
    color: #68b0c9;
}

.section__eleven__img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.section__ten {
    padding-bottom: 17px;
}

.section_one_description {
    font-size: 30px;
    font-family: MuseoSansCyrl-700,sans-serif;
    padding: 20px 0 40px 0;
    color: #82adbc;
    width: 400px;
    margin-left: 150px;
}

.section_one_description_next {
    font-size: 18px;
    font-family: MuseoSansCyrl,sans-serif;
    padding-bottom: 20px;
    width: 350px;
    margin-left: 150px;
}

.section_15 {
    background: #7ec4ce;
}

.ten__inner {
    background-image: url(images/background55.png);
    background-repeat: no-repeat;
    padding: 1.4% 1%;
    margin-left: -31px;
    margin-bottom: -31px;
}

.section__ten {
    background-color: #ecf3f8;
}

.unit {
    display: flex;
    justify-content: space-around;
    min-height: 250px;
    padding-top: 80px;
}

.unit_1__1, .unit_1__2, .unit_1__3, .unit_1__4 {
    color: #535353;
    font-size: 1.9em;
    display: flex;
}

.unit_1__1__1 {
    margin: -70% 35%;
    font-size: 4em;
    color: #68b0c9;
}

.unit_1__2__2 {
    margin: -55% 1%;
    font-size: 4em;
    color: #68b0c9;
}

.unit_1__3__3 {
    margin: -60% 1%;
    font-size: 4em;
    color: #68b0c9;
}

.unit_1__4__4 {
    margin: -60% 25%;
    font-size: 4em;
    color: #68b0c9;
}

.sale {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 820px;
    top: 2325px;
    width: 150px;
    height: 150px;
}

.img__four-2, .img__four-1, .img__four-3, .img__four-4 {
    padding-left: 20%;
}

